* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, "sans-serif";
}

.container {
  margin-top: 40px !important;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.post {
  background-color: #eee;
  display: block;
  margin-bottom: 30px;
  padding: 30px;
}
